body {
    font-family: 'Raleway', sans-serif;
  }
  
  header {
    background-image: url('/PruebasEnJS/assets/img/serena.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
    height: 537px;
  }


  h4{
      color: orangered;
      font-size: 20px;
      margin-top: 225px;
  }

  span.hero-title{
      font-weight: bold;
      color: orangered;
      font-size: 75px;
  }


  hr{
      border: solid orangered 1px;
      width: 75%;
  }

.container-hero{
    padding-top: 18%;
}


/* Carrusel */

#carrusel{
    padding: 30px;

}

.indicador{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: grey !important;
}

.carousel-item{
    display: none;
}

.carrusel-caja{
    width: 100%;
    padding-top: 5px;
    padding-left: 100px;
    border: solid 3px ;
    border-radius: 5px;
}

.carrusel-caja h3{
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(209, 98, 34);
    font-size: 35px;
}



